.cart-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.cart-item {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.item-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title p {
  margin: 0;
}

.actions {
  margin-top: 0.5rem;
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
}

.total-price {
  text-align: right;
  margin-top: 1rem;
}
