<header class="header">
  <div class="header-container">
    <a class="logo" routerLink="/">
      <img src="/assets/travelMatch.png" alt="TravelMatch Logo" />
    </a>

    <div class="search-bar">
      <input type="text" placeholder="Busca lugares" />
      <input type="date" />
      <button>Encontrar</button>
    </div>

    <div class="header-icons">
      <span title="Favoritos">❤️</span>
      <span title="Carrito">🛒</span>
      <span title="Tickets">🎫</span>
      <a title="Perfil" routerLink="/profile">👤</a>
      <select>
        <option value="es">🌐 ES</option>
        <option value="en">🌐 EN</option>
      </select>
    </div>
  </div>
</header>
